<h1>New Category</h1>

<%= form_with model: @category do |form| %>
  <div>
    <%= form.label :genre %><br>
    <%= form.text_field :genre %>
  </div>

  <div>
    <%= form.label :image_url %><br>
    <%= form.text_area :image_url %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>