<h1>Update Book</h1>

<%= form_with model: @book do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :image %><br>
    <%= form.file_field :image%>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :pages %><br>
    <%= form.text_field :pages%>
  </div>

  <div>
    <%= form.label :language %><br>
    <%= form.text_field :language %>
  </div>

  <div>
    <%= form.label :dimensions %><br>
    <%= form.text_field :dimensions %>
  </div>

  <div>
    <%= form.label :publication_date %><br>
    <%= form.text_field :publication_date%>
  </div>

  <div>
    <%= form.label :weight %><br>
    <%= form.text_field :weight%>
  </div>

  <div>
    <%= form.label :category_id %><br>
    <%= form.text_field :category_id%>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>