<h1>Listing Books</h1>

<table>
  <thead>
  <tr>
    <th>Title  </th>
    <th>Description  </th>
    <th>More Info  </th>
    <th>Update</th>
    <th colspan="9"></th>
  </tr>
  </thead>

  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.description %></td>
      <td><%= link_to "Show", controller: "books", action: "show", category_id: book.id %></td>
      <td><%= link_to "Edit", controller: "books", action: "update",  category_id: book.id  %></td>
      <td><%= link_to "Destroy", controller: "books", action: "destroy", category_id: book.id%></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Book", root_path %>

<%#= link_to "New book", create %>