<h1>Listing Books</h1>

<%= form_tag books_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag  "Search" %>
  <%end %>
<!--<form class = "full_search" action = "/search">-->
<!--  <input class = "search" name="q" type="text" placeholder="Search" aria-label="Search">-->
<!--  <button class = "btn_search" type="submit">Search</button>-->
<!--</form  >-->
<table>
  <thead>
  <tr>
    <th>Title  </th>
    <th>Description  </th>
    <th>More Info  </th>
    <th>Update</th>
    <th colspan="9"></th>
  </tr>
  </thead>

  <tbody>
  <%cache @books do %>
  <% @books.each do |book| %>
  <%cache book do %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.description %></td>
      <td><%= link_to "Show", controller: "books", action: "show", id: book.id %></td>
      <td><%= link_to "Edit", controller: "books", id: book.id, action: "edit" %></td>
      <td><%= link_to "Destroy", book_path(book), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %></td>
    </tr>
  <%end%>
  <% end %>
    <%end %>
  </tbody>
</table>

<br>

<%= link_to "New Book", new_book_path %>
<%= link_to "Categories", categories_path %>
