<h1>Create Book</h1>

<%= form_with model: @book do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title%>
    <% @book.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :image %><br>
    <%= form.file_field :image%>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :pages %><br>
    <%= form.text_field :pages%>
  </div>

  <div>
    <%= form.label :language %><br>
    <%= form.text_field :language %>
  </div>

  <div>
    <%= form.label :dimensions %><br>
    <%= form.text_field :dimensions %>
  </div>

  <div>
    <%= form.label :publication_date %><br>
    <%= form.text_field :publication_date%>
  </div>

  <div>
    <%= form.label :weight %><br>
    <%= form.text_field :weight%>
  </div>

  <div>
    <%= form.label :category %><br>
    <%= form.collection_select :category_id, Category.order(:genre), :id, :genre %>
    <%# category = Category.includes(:books).distinct.limit(10)%>
    <%#category.each do |cat|%>
    <%#=form.select :category_id,  [cat.genre]%>
    <%#end%>
     <%#= form.select :category_id, [["Best-seller", 1], ["Imaginative literature", 2], ["Fantasy", 3], ["Psychology", 4], ["Cooking", 5], ["History", 6], ["Detectives", 20]] %>
  </div><br>
  <%= form.submit "Add book" %>

<% end %>
