<h1><%= @book.title%></h1>

<ul>
  <label for="description">Description:</label>
  <%= @book.description %><br>
  <p>
    <%= image_tag(@book.images, class: 'list_image',  :size => "150x200") %> </p><br>
  <label for="price">Price:</label>
    <%= number_to_currency(@book.price) %>
  <%= button_to 'Add to Cart', line_items_path(category_id: @book) %>
  <br>
  <label for="pages">Pages:</label>
  <%= @book.pages %><br>
  <label for="language">Language:</label>
  <%= @book.language %><br>
  <label for="dimensions">Dimensions:</label>
  <%= @book.dimensions %><br>
  <label for="publications_date">Publication date:</label>
  <%= @book.publication_date %><br>
  <label for="weight">Weight:</label>
  <%= @book.weight %>
</ul>

<%= link_to "Back to categories", categories_path %>

