<%@book.each do |book| %>
<h1><%= book.title%></h1>

<ul>
  <label for="description">Description:</label>
  <%= book.description %><br>
  <p><%= image_tag src = book.images%></p>
  <label for="price">Price:</label>
  <%= book.price %><br>
  <label for="pages">Pages:</label>
  <%= book.pages %><br>
  <label for="language">Language:</label>
  <%= book.language %><br>
  <label for="dimensions">Dimensions:</label>
  <%= book.dimensions %><br>
  <label for="publications_date">Publication date:</label>
  <%= book.publication_date %><br>
  <label for="weight">Weight:</label>
  <%= book.weight %>
</ul>
  <%end %>
